<!DOCTYPE html>
<html lang="ru-RU" itemscope itemtype="http://schema.org/Blog" prefix="og: http://ogp.me/ns#">

<head>

	{% include "head.html" %}

</head>



<body class="home page-template-default page page-id-19 wp-custom-logo">

	<div class="main-wrapper">
		<div class="container">

			<!-- Header -->
			{% include "header.html" %}
			<!-- /Header -->

			<!-- Frontpage Banner / Slider -->
			<!-- /Frontpage Banner / Slider -->

			{% block content %}
			{% endblock %}

			<hr />





			<!-- /Footer Widgets -->

			<!-- Footer -->
				{% include "footer.html" %}
				<!-- /Footer -->

			</div>
			<!-- /Container -->
		</div>
		<!-- /Main Wrapper -->

</body>

</html>
