<div class="header">

  <!-- Header Row 2 -->
  <div class="header-row-2">
    <div class="logo">
      <a href="/" class="custom-logo-link" rel="home" itemprop="url">
        <img width="200" height="200" src="/static/logo.png" class="custom-logo" alt="Сусаниных нет" itemprop="logo" /></a>
    </div>
    <div class="tagline">
      <p>{{ slogan }}</p>
    </div>
  </div>
  <!-- /Header Row 2 -->


  <!-- Header Row 3 -->
  <div class="header-row-3">
    {% include "main_menu.html" %}
  </div>
  <!-- /Header Row 3 -->

</div>
