


<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".header-row-3 .navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
  </div>

  <!-- Navigation -->
  <div class="navbar-collapse collapse">

    <ul id="" class="nav navbar-nav">

      {% for item in main_menu %}
      <li id=""
      class="menu-item
      {% if item.url == request.path %}
      active
      {% endif %}
      ">
        <a href="{{item.url}}">{{item.title}}</a>
      </li>
      {% endfor %}

    </ul>
  </div>
  <!-- /Navigation -->
</nav>
