<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".header-row-3 .navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
  </div>

  <!-- Navigation -->

  <div class="navbar-collapse collapse">

    <ul id="" class="nav navbar-nav">

      <li id="" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-19 menu-item-82 ">
        <a href="/">Афиша</a>
      </li>

      <li id="menu-item-276" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-276">
        <a href="/projects/">Проекты</a>
      </li>

      <li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85">
        <a href="/team/">Команда</a>
      </li>

      <li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45">
        <a href="/contacts/">Дружба и контакты</a>
      </li>

      <li id="menu-item-277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-277">
        <a href="/feedback/">Отзывы</a>
      </li>
<!--
      <li id="menu-item-380" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-380">
        <a href="/faq/">FAQ</a>
      </li>
    -->

    </ul>
  </div>
  <!-- /Navigation -->
</nav>
