<div class="sidebar sidebar-column  col-md-4 ">
  <div class="sidebar-default sidebar-block sidebar-no-borders">
    <div id="nav_menu-2" class="default-widget widget widget_nav_menu">
      <div class="">
        <ul id="" class="menu">
          <li id="menu-item-47" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47">
            <a href="https://www.facebook.com/susaninykhnet/">Фейсбук</a>
          </li>
          <li id="menu-item-49" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49">
            <a href="https://www.instagram.com/susaninykh_net/">Инстаграм</a>
          </li>
          <li id="menu-item-50" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50">
            <a href="mailto:info@susaninykh.net">Электропочта</a>
          </li>
          <li id="menu-item-75" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-75">
            <a href="https://vk.com/club145574123">Вконтакте</a>
          </li>
          <li id="menu-item-251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-251">
            <a href="https://artel-gidov-susaninyh-net.timepad.ru/events/">Таймпад</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="default-widget widget">

      <div class="textwidget">
        <p>Принимаем заказы на экскурсии от пяти человек.</p>
      </div>

    </div>
  </div>
</div>
